body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

h1 {
	color: blue;
}

p {
	color: green;
}

ul {list-style-type: circle;
}
ol{list-style-type: upper-roman;
}

.par{
padding: 100px 100px 100px 100px;

}
